.confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

.first-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-span{
    max-width: 180px;
    text-align: center;
}

.second-span{
    text-align: center;
    margin: 0;
    max-width: 300px;
}

.return{
    width: 285px;
    height: 44px;
    border-radius: 6px;
    background-color: #3D5656;
    color:white;
    margin-top: 160px;
}